/*  your css code here. If applicable */
#fname{
	display:block;
	/* margin-top:10px; */
	margin-bottom:10p;
}
#lname{
	display:block;
	/* margin-top:10px; */
	margin-bottom:10p;
}
#submit{
	display:block;
	margin-top:10px;
}
